* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 1.3rem - 8.188rem);
  margin-top: 3.5rem;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.main-header {
  background: #09db48;
  width: 100%;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__branding {
  width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

.main-header__branding img {
  width: 100%;
}

.main-nav {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav__list {
  margin: 5rem 0 0 0;
  padding: 0;
  list-style: none;
}

.mobile-nav__item {
  margin: 1rem;
  font-size: 1.5rem;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #043a14;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 0;
}

/* mobile nav */
.mobile-nav {
  display: none;
  width: 80%;
  position: fixed;
  z-index: 101;
  background: #fff;
  height: 100vh;
  text-align: center;
  top: 0;
  left: 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background: #e00083;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  background: #fff;
  color: #e00083;
  border: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/* toggle button */
.toggle-button {
  width: 3rem;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.25rem;
  background: #000;
  display: block;
  margin: 0.5rem 0;
}

@media screen and (min-width: 48rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    width: calc(100% - 83px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.button {
  background: #025a02;
  border: 2px solid #025a02;
  font: inherit;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #fff;
  color: #025a02;
}

.button[disabled] {
  cursor: not-allowed;
  background: #ccc;
  color: #555;
  border-color: #555;
}

/* Footer */
.main-footer {
  background: #000;
  padding: 2rem;
  text-align: center;
  margin-top: 48px;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__item a {
  text-decoration: none;
  color: #fff;
}

.main-footer__item a:hover,
.main-footer__item a:active {
  color: #ccc;
}

.open {
  display: block !important;
}
