.testimonial {
  font-size: 1.25rem;
  margin: 3rem 0;
}

.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial-image__container {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__image {
  width: 100%;
  /* display: block; */
  vertical-align: top;
}

.testimonial__info {
  display: inline-block;
  padding: 1rem;
  width: 30%;
  vertical-align: middle;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2.testimonial__info {
  text-align: left;
}

.testimonial__name {
  color: #ff5454;
  margin: 0.188rem;
}

.testimonial__subtitle {
  font-size: 1.125rem;
  color: #ccc;
  margin: 0 0.188rem;
}

.testimonial__subtitle a {
  text-decoration: none;
  color: inherit;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: rgb(95, 93, 93);
}

.testimonial__text {
  margin: 0.188rem;
}
